<h2>點餐紀錄</h2>
<form method="POST">
    班級座號:<input type=text name=name>
    日期:<input type=date name=date>
    付款狀態:
    <select name=payment>
        <option value="free">不限</option>
        <option value="unpaid">未付款</option>
        <option value="paid">已付款</option>
    </select><br>
    <input type=submit value="確認"><br>
</form>
<table border>
    <tr><th>班級座號</th><th>餐點</th><th>價格</th><th>日期</th><th>付款狀態</th></tr>
    {%for line in history%}
        {% set item=line.split() %}
        <tr>
            <td>{{ item[0] }}</td>  
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3]+" "+item[4] }}</td>  
            <td>{{ item[5] }}</td>
        </tr>
    {% endfor %}
</table><br>
<p>總價: {{sum}}</p>
<form action='{{ url_for('students') }}'>
    <button type="submit">back</button>
</form>
